# Crime Maps
- This notebook is for combining crime data with Los Angeles neighborhood GIS polygons

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import geopandas
from mpl_toolkits.axes_grid1 import make_axes_locatable
import contextily as ctx

#### Read in crime data

In [2]:
crime = pd.read_csv('../datasets/crime_final.csv')
print(crime.shape)
crime.head().T

(2210104, 337)

,0,1,2,3,4
nu_index,0,1,2,3,4
DR_NO,1307355,11401303,70309629,90631215,100100501
Date Rptd,02/20/2010 12:00:00 AM,09/13/2010 12:00:00 AM,08/09/2010 12:00:00 AM,01/05/2010 12:00:00 AM,01/03/2010 12:00:00 AM
DATE OCC,2010-02-20,2010-09-12,2010-08-09,2010-01-05,2010-01-02
TIME OCC,1350,45,1515,150,2100
...,...,...,...,...,...
P_burglary,0,0,0,0,0
P_mvt,0,0,0,0,0
P_btfv,0,0,0,0,0
P_theft_personal,0,0,0,0,0
P_theft_other,0,0,0,0,0

In [3]:
gdf = geopandas.read_file('../datasets/la-county-neighborhoods-current/l.a. county neighborhood (current).shp')
gdf.rename(columns={'name':'place'},inplace=True)
print(gdf.shape)
gdf.head(3)

(272, 11)

,slug,set,kind,external_i,place,display_na,sqmi,type,name_1,slug_1,geometry
0,acton,L.A. County Neighborhoods (Current),L.A. County Neighborhood (Current),acton,Acton,Acton L.A. County Neighborhood (Current),39.3391089485,unincorporated-area,None,None,"POLYGON ((-118.20262 34.53899, -118.18947 34.5..."
1,adams-normandie,L.A. County Neighborhoods (Current),L.A. County Neighborhood (Current),adams-normandie,Adams-Normandie,Adams-Normandie L.A. County Neighborhood (Curr...,0.805350187789,segment-of-a-city,None,None,"POLYGON ((-118.30901 34.03741, -118.30041 34.0..."
2,agoura-hills,L.A. County Neighborhoods (Current),L.A. County Neighborhood (Current),agoura-hills,Agoura Hills,Agoura Hills L.A. County Neighborhood (Current),8.14676029818,standalone-city,None,None,"POLYGON ((-118.76193 34.16820, -118.72632 34.1..."

### Feature Engineering

#### Change by year

In [ ]:
series11 = []
series12 = []
series13 = []
series14 = []
series15 = []
series16 = []
series17 = []
series18 = []
series19 = []

for place in gdf['place']:
    series11.append(crime[crime['2011']==1][place].sum()-crime[crime['2010']==1][place].sum())
    series12.append(crime[crime['2012']==1][place].sum()-crime[crime['2011']==1][place].sum())
    series13.append(crime[crime['2013']==1][place].sum()-crime[crime['2012']==1][place].sum())
    series14.append(crime[crime['2014']==1][place].sum()-crime[crime['2013']==1][place].sum())
    series15.append(crime[crime['2015']==1][place].sum()-crime[crime['2014']==1][place].sum())
    series16.append(crime[crime['2016']==1][place].sum()-crime[crime['2015']==1][place].sum())
    series17.append(crime[crime['2017']==1][place].sum()-crime[crime['2016']==1][place].sum())
    series18.append(crime[crime['2018']==1][place].sum()-crime[crime['2017']==1][place].sum())
    series19.append(crime[crime['2019']==1][place].sum()-crime[crime['2018']==1][place].sum())

gdf['change_11'] = series11
gdf['change_12'] = series12
gdf['change_13'] = series13
gdf['change_14'] = series14
gdf['change_15'] = series15
gdf['change_16'] = series16
gdf['change_17'] = series17
gdf['change_18'] = series18
gdf['change_19'] = series19

#### Total crimes by neighborhood

In [ ]:
series = []

for place in gdf['place']:
    series.append(crime[place].sum())

gdf['AllCrimes_2010-2020'] = series

In [ ]:
series2011 = []
series2012 = []
series2013 = []
series2014 = []
series2015 = []
series2016 = []
series2017 = []
series2018 = []
series2019 = []
series2020 = []

for place in gdf['place']:
    series2011.append(crime[crime['2011']==1][place].sum())
    series2012.append(crime[crime['2012']==1][place].sum())
    series2013.append(crime[crime['2013']==1][place].sum())
    series2014.append(crime[crime['2014']==1][place].sum())
    series2015.append(crime[crime['2015']==1][place].sum())
    series2016.append(crime[crime['2016']==1][place].sum())
    series2017.append(crime[crime['2017']==1][place].sum())
    series2018.append(crime[crime['2018']==1][place].sum())
    series2019.append(crime[crime['2019']==1][place].sum())
    series2020.append(crime[crime['2020']==1][place].sum())

gdf['crime_11'] = series2011
gdf['crime_12'] = series2012
gdf['crime_13'] = series2013
gdf['crime_14'] = series2014
gdf['crime_15'] = series2015
gdf['crime_16'] = series2016
gdf['crime_17'] = series2017
gdf['crime_18'] = series2018
gdf['crime_19'] = series2019
gdf['crime_20'] = series2020

In [ ]:
series2010 = []
for place in gdf['place']:
    series2010.append(crime[crime['2010']==1][place].sum())
gdf['crime_10'] = series2010

In [ ]:
gdf['change_11_pct'] = gdf['change_11']/gdf['crime_10']
gdf['change_12_pct'] = gdf['change_12']/gdf['crime_11']
gdf['change_13_pct'] = gdf['change_13']/gdf['crime_12']
gdf['change_14_pct'] = gdf['change_14']/gdf['crime_13']
gdf['change_15_pct'] = gdf['change_15']/gdf['crime_14']
gdf['change_16_pct'] = gdf['change_16']/gdf['crime_15']
gdf['change_17_pct'] = gdf['change_17']/gdf['crime_16']
gdf['change_18_pct'] = gdf['change_18']/gdf['crime_17']
gdf['change_19_pct'] = gdf['change_19']/gdf['crime_18']

In [ ]:
gdf['last10_pct'] = gdf['change_11_pct']+gdf['change_12_pct']+gdf['change_13_pct']+gdf['change_14_pct']+gdf['change_15_pct']+gdf['change_16_pct']+gdf['change_17_pct']+gdf['change_18_pct']+gdf['change_19_pct']
gdf['last5_pct_pct'] = gdf['change_15_pct']+gdf['change_16_pct']+gdf['change_17_pct']+gdf['change_18_pct']+gdf['change_19_pct']

#### Generate Plots

In [ ]:
gdf.head(3).T

#### Write gdf to file

In [164]:
gdf.to_file("datasets/crime_maps.shp")